Nav {
  height: 70px;
  text-align: center;
  background-color: #9E4F14;
  color: #FAF889;;
}


.photo-nav, .logo {
  width: 50px;
  border-radius: 50%;
  margin-left: 100px;
  margin-right: 80px;
  margin-top: 5px;
}

.logo {
  width: 60px;
  margin-right: 50px;
  float: right;
}

.photo-user {
  width: 150px;
  margin-top: 50px;
}

.user-name {
  margin-top: 150px;
}

.name-text {
  margin-right: 230px;
  float: left;
}

.background {
  background-image: url('../../assets/background-zarape.jpg')
}

.brown-nav-text {
  font-weight: bold;
  text-shadow: 3px 2px 3px rgb(44, 21, 21);
}

.exit-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .photo-nav {
    float: right;

  }
  .logo {
    float: left;
    margin-left: 120px;
  }
  .name-text, .exit {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .photo-nav, .logo {
    float: right;
  }
  .photo-nav, .name-text {
    margin-left: 50px;
    margin-right: 60px;
  }
  .photo-nav, .name-text, .logo {
    margin-top: 8px;
  }
  .exit {
    display: none;
  }
  .exit-nav {
    display: block;
  }
}
