Nav {
  height: 70px;
  text-align: center;
  background-color: #F34B42;
  color: #FAF889;
  margin-left: 1px;
  /* position: absolute; */
}


.photo-nav, .logo {
  width: 50px;
  border-radius: 50%;

}


.photo-user {
  width: 150px;
  margin-top: 50px;
}

.user-name {
  margin-top: 150px;
}

.name-text {
  /* margin-right: 230px; */
  float: left;
}

.background {
  background-image: url('../../assets/background-zarape.jpg')
}

.brown-nav-text {
  font-weight: bold;
  text-shadow: 3px 2px 3px rgb(44, 21, 21);
}

/* .exit-nav {
  display: none;
} */
.margin {
  margin-left: 20px;
}


@media screen and (max-width: 500px) {
  .photo-nav {
    float: right;
    margin-left: 120px;

  }
  .logo {
    float: left;
    margin-left: 30px;
  }
  .name-text, .exit {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .photo-nav, .name-text, .logo {
    margin-top: 8px;
  }
  .exit {
    display: none;
  }
  .exit-nav {
    display: block;
  }
}
