.Login {
  text-align: center;
  height: 72vh;
  width: 100%;
}

.Login-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 280px;
  border-radius: 50%;
  margin-top: 20px;

}

.Login-title {
  font-size: 4em;
  color: #b71c1c;
}

.login-buttons {
  /* width: 250px; */
  margin-top: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 980px){
  .Login-logo {
    margin-top: 20px;
    height: 180px;
  }
}

@media screen and (max-width: 450px){
  .Login {
    width: 100%;
    margin-top: 100px;
    height: 63vh;
  }
  .Login-logo {
    height: 150px;
    margin-bottom: 10px;
  }
}